:host {
  display: block;
  width: 350px;
  color: #333;
  border-radius: 0 0 4px 4px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: #fff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  color: #333;
}
a:hover {
  text-decoration: underline;
}

.card {
  border: 1px solid #ccc;
}
.card section {
  margin: 0 20px;
}
.card section.profile {
  margin-bottom: 20px;
}
.card section.alt {
  margin: 0;
  padding: 10px 20px;
  background-color: #dfdfdf;
}
.card section > h3 {
  margin: -10px -20px 0 -20px;
  padding: 4px 20px 2px 20px;
  font-size: 14px;
  text-shadow: #333 -1px -1px 1px;
  border-bottom: 2px solid #222;
  font-weight: normal;
  color: #dfdfdf;
  background-color: #555555;
}
.card header {
  position: relative;
  height: 45px;
  padding: 10px;
  margin: 0 0 20px 0;
  background-color: #e31b23;
  background-image: -webkit-linear-gradient(#e31b23, #b32024);
  background-image: linear-gradient(#e31b23, #b32024);
  border: 1px solid #a00;
  border-bottom: 1px solid #9f081e;
  box-shadow: rgba(0,0,0,0.3) 0 2px 5px;
}
.card header.black {
  background-color: #4B4B4B;
  background-image: -webkit-linear-gradient(#4B4B4B, #333);
  background-image: linear-gradient(#4B4B4B, #333);
  border: 1px solid #2C2C2C;
  border-bottom: 1px solid #111;
}
.logo {
  position: absolute;
  left: 20px;
  bottom: 6px;
  display: inline-block;
  width: 90px;
  height: 30px;
  background-image: url(img/lastfm-logo-red.png);
}
.profile {
  position: relative;
  height: 126px;
  padding-left: 146px;
}
.profile p {
  margin: 6px 0;
}
#plays {
  font-size: 0;
}
.count-bg {
  display: inline-block;
  margin-right: 2px;
  padding: 2px 3px 0 3px;
  font-size: 16px;
  color: #fff;
  background: #000000;
  background: -webkit-linear-gradient(top, #000000 0%, #3f3f3f 40%, #6b6b6b 50%, #3f3f3f 60%, #000000 100%);
  background: linear-gradient(to bottom,  #000000 0%,#3f3f3f 40%,#6b6b6b 50%,#3f3f3f 60%,#000000 100%);
}
.loading, .no-user {
  margin: 20px 0;
  text-align: center;
}
.frame {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  width: 126px;
  min-height: 70px;
  max-height: 126px;
  margin: 0;
  border: 2px solid #999;
  border-radius: 4px;
  background-color: #333;
}
.frame img {
  display: block;
  border-radius: 4px;
}
h1 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 18px;
}
h1 a {
  text-decoration: none;
}
section ul {
  padding: 0;
  list-style: none;
}
section ol {
  padding: 0;
  list-style-position: inside;
}
section li {
 overflow: hidden;
 margin-bottom: 10px;
}
.recent-tracks li img {
  float: left;
  margin-right: 10px;
  width: 64px;
  height: 64px;
  background-color: #333;
}
.recent-tracks li[nowplaying] {
  background: transparent url(img/icon-eq.gif) no-repeat right top;
}
.recent-tracks p {
  margin: 10px 0 0 0;
}
